#aboutPic {
    float: left;
}

#aboutText, #aboutTitle, #aboutSub {
    margin-left: 150px;
}

#socialBtns {
    display: flex;
    margin-left: 150px;
}

#aboutCard {
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 100%;
}

.btns {
    margin: 0;
}
